## CH1

##### Iterators

In [1]:
# iterating with for loops
employees = ['Alice', 'Bob', 'Charlie']
for employee in employees:
    print(employee)

Alice
Bob
Charlie

##### Iterators vs. iterables
- Iterable
    - Examples: lists, strings, dictionaries, ,le connections
    - An object with an associated iter() method
    - Applying iter() to an iterable creates an iterator
- Iterator
    - Produces next value with next()

In [3]:
word = "Hi"
it = iter(word)
print(next(it))  # 'H'
print(next(it))  # 'i'

H
i

In [4]:
word = "Python"
it = iter(word)
print(*it)  # P y t h o n

P y t h o n

In [7]:
# Enumarate function
justice_league = ['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman']
e = enumerate(justice_league)
print(type(e))  # <class 'enumerate'>
print(list(e))

<class 'enumerate'>
[(0, 'Superman'), (1, 'Batman'), (2, 'Wonder Woman'), (3, 'Flash'), (4, 'Aquaman')]

In [8]:
# Enumarate and unpacking
justice_league = ['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman']
for index, hero in enumerate(justice_league, start=1):
    print(f"{index}. {hero}")

1. Superman
2. Batman
3. Wonder Woman
4. Flash
5. Aquaman

In [10]:
# Zip function
heroes = ['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman']
names = ['Clark', 'Bruce', 'Diana', 'Barry', 'Arthur']
z = zip(heroes, names)
print(type(z))  # <class 'zip'>
print(list(z))

<class 'zip'>
[('Superman', 'Clark'), ('Batman', 'Bruce'), ('Wonder Woman', 'Diana'), ('Flash', 'Barry'), ('Aquaman', 'Arthur')]

In [11]:
# Zip and unpacking
heroes = ['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman']
names = ['Clark', 'Bruce', 'Diana', 'Barry', 'Arthur']

for hero, name in zip(heroes, names):
    print(f"{hero}: {name}")

Superman: Clark
Batman: Bruce
Wonder Woman: Diana
Flash: Barry
Aquaman: Arthur

In [12]:
# Print zip with * operator
heroes = ['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman']
names = ['Clark', 'Bruce', 'Diana', 'Barry', 'Arthur']
z = zip(heroes, names)
print(*z)

('Superman', 'Clark') ('Batman', 'Bruce') ('Wonder Woman', 'Diana') ('Flash', 'Barry') ('Aquaman', 'Arthur')

## CH2

##### List Comprehensions

In [13]:
nums = [1, 2, 3, 4, 5]
squared = [n**2 for n in nums]
print(squared)  # [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [16]:
pairs = [(num1 , num2) for num1 in range(5) for num2 in range(6,8)]
print(pairs)

[(0, 6), (0, 7), (1, 6), (1, 7), (2, 6), (2, 7), (3, 6), (3, 7), (4, 6), (4, 7)]

##### Advanced Comprehensions

In [17]:
# Conditional Comprehensions in iterables
even_squared = [n**2 for n in range(10) if n % 2 == 0]
print(even_squared)  # [0, 4, 16, 36, 64]

[0, 4, 16, 36, 64]

In [19]:
# Conditional Comprehensions in output
squared = [n**2 if n % 2 == 0 else 0 for n in range(10) if n % 2 == 0]
print(squared)  # [0, 4, 0, 16, 0, 36, 0, 64]

[0, 4, 16, 36, 64]

##### Dict Comprehensions

In [21]:
pos_neg = {num: -num for num in range(1,10)}
print(pos_neg)

{1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6, 7: -7, 8: -8, 9: -9}

##### Generator Expressions

In [23]:
(num * 2 for num in range(10))  # generator expression

In [26]:
# Printing values from a generator expression
gen_exp = (num * 2 for num in range(5))
for val in gen_exp:
    print(val)

# seperator
print("-" * 20)

gen_exp = (num * 2 for num in range(5))
print(list(gen_exp))

# seperator
print("-" * 20)

gen_exp = (num * 2 for num in range(5))
print(next(gen_exp))  # 0
print(next(gen_exp))  # 2
print(next(gen_exp))  # 4
print(next(gen_exp))  # 6
print(next(gen_exp))  # 8
#print(next(gen_exp))  # StopIteration

0
2
4
6
8
--------------------
[0, 2, 4, 6, 8]
--------------------
0
2
4
6
8

##### Generator Function

In [1]:
# Generator function
def num_sequence(n):
    ''' Generate numbers from 0 to n-1 '''
    num = 0
    while num < n:
        yield num
        num += 1

# Using the generator function
result = num_sequence(5)
print(type(result))  # <class 'generator'>
for val in result:
    print(val)

<class 'generator'>
0
1
2
3
4