## CH1

##### Lists

In [15]:
justice_league = ["Superman", "Batman"]
justice_league.append("Wonder Woman")
print(justice_league)

['Superman', 'Batman', 'Wonder Woman']

In [16]:
# Combining lists
justice_gang = ["Green Lantern", "Hawkgirl", "Mr. Terrific"]
dc_characters = justice_league + justice_gang
print(dc_characters)

['Superman', 'Batman', 'Wonder Woman', 'Green Lantern', 'Hawkgirl', 'Mr. Terrific']

In [17]:
# using extend() method
dc_villains = ["Lex Luthor", "The Joker"]
dc_characters.extend(dc_villains)
print(dc_characters)

['Superman', 'Batman', 'Wonder Woman', 'Green Lantern', 'Hawkgirl', 'Mr. Terrific', 'Lex Luthor', 'The Joker']

In [18]:
# Finding and popping items from a list
position = dc_characters.index("The Joker")
joker = dc_characters.pop(position)
print(dc_characters)
print(joker)

['Superman', 'Batman', 'Wonder Woman', 'Green Lantern', 'Hawkgirl', 'Mr. Terrific', 'Lex Luthor']
The Joker

In [19]:
# Iterating through a list by list comprehension
uppercase_characters = [character.upper() for character in dc_characters]
print(uppercase_characters)

['SUPERMAN', 'BATMAN', 'WONDER WOMAN', 'GREEN LANTERN', 'HAWKGIRL', 'MR. TERRIFIC', 'LEX LUTHOR']

In [20]:
# Sorting a list
sorted_characters = sorted(dc_characters)
print(sorted_characters)

['Batman', 'Green Lantern', 'Hawkgirl', 'Lex Luthor', 'Mr. Terrific', 'Superman', 'Wonder Woman']

##### Tuples

In [24]:
# Creating a tuple by zipping two lists
heroes = ("Superman", "Batman", "Green Lantern")
actors = ("David Corenswet", "Robert Pattinson", "Nathan Fillion")
hero_actors = tuple(zip(heroes, actors))
print(hero_actors)

# List of tuples
hero_actors_list = list(zip(heroes, actors))
print(hero_actors_list)

(('Superman', 'David Corenswet'), ('Batman', 'Robert Pattinson'), ('Green Lantern', 'Nathan Fillion'))
[('Superman', 'David Corenswet'), ('Batman', 'Robert Pattinson'), ('Green Lantern', 'Nathan Fillion')]

In [30]:
# Unpacking a tuple
hero, actor = hero_actors_list[1]
print(f"{hero} is played by {actor}.")

# seperator
print("-" * 40)

# In a for loop unpacking tuples
for hero, actor in hero_actors_list:
    print(f"{hero} is played by {actor}.")

Batman is played by Robert Pattinson.
----------------------------------------
Superman is played by David Corenswet.
Batman is played by Robert Pattinson.
Green Lantern is played by Nathan Fillion.

In [32]:
# Enumerating positions in a tuple
for index, hero_actor in enumerate(hero_actors_list, start=1):
    hero, actor = hero_actor
    print(f"{index}: {hero} is played by {actor}.")

1: Superman is played by David Corenswet.
2: Batman is played by Robert Pattinson.
3: Green Lantern is played by Nathan Fillion.

##### Strings

In [34]:
# Creating formatted strings
name = "Batman"
alias = "Dark Knight"
print(f"{name} is also known as {alias}.")

Batman is also known as Dark Knight.

In [42]:
# By using join() method
heroes = ["Superman", "Batman", "Wonder Woman", "Green Lantern", "Flash"]
print(", ".join(heroes))
print(f"The Justice League members are: {", ".join(heroes[0:-1])}, and {heroes[-1]}.")

Superman, Batman, Wonder Woman, Green Lantern, Flash
The Justice League members are: Superman, Batman, Wonder Woman, Green Lantern, and Flash.

In [43]:
# Matching parts of strings
print([hero for hero in heroes if hero.startswith("B")])
print([hero for hero in heroes if hero.endswith("n")])

['Batman']
['Superman', 'Batman', 'Wonder Woman', 'Green Lantern']

## CH2

##### Dictionaries

In [52]:
# Finding by key
hero_aliases = { "Superman": "Man of Steel", "Batman": "Dark Knight", "Flash": "Scarlet Speedster" }
print(hero_aliases["Superman"])

# Not existing key
try :
    print(hero_aliases["Aquaman"])
except KeyError as e:
    print(f"KeyError: {e}")
print(hero_aliases.get("Aquaman")) # Safe, returns None
print(hero_aliases.get("Aquaman", "Not Found")) # Safe, returns default value

Man of Steel
KeyError: 'Aquaman'
None
Not Found

In [55]:
# Adding and extending dictionaries by update() method
hero_aliases.update({"Wonder Woman": "Amazon Princess"})
hero_aliases.update({"Flash": "Fastest Man Alive"})
print(hero_aliases)

# Update with another dictionary
more_aliases = { "Green Lantern": "Emerald Knight", "Cyborg": "Half Man, Half Machine"}
hero_aliases.update(more_aliases)
print(hero_aliases)

{'Superman': 'Man of Steel', 'Batman': 'Dark Knight', 'Flash': 'Fastest Man Alive', 'Wonder Woman': 'Amazon Princess'}
{'Superman': 'Man of Steel', 'Batman': 'Dark Knight', 'Flash': 'Fastest Man Alive', 'Wonder Woman': 'Amazon Princess', 'Green Lantern': 'Emerald Knight', 'Cyborg': 'Half Man, Half Machine'}

In [56]:
# Deleting and popping items from a dictionary
del hero_aliases["Cyborg"]
print(hero_aliases)
popped_alias = hero_aliases.pop("Flash")
print(hero_aliases)
print(popped_alias)

{'Superman': 'Man of Steel', 'Batman': 'Dark Knight', 'Flash': 'Fastest Man Alive', 'Wonder Woman': 'Amazon Princess', 'Green Lantern': 'Emerald Knight'}
{'Superman': 'Man of Steel', 'Batman': 'Dark Knight', 'Wonder Woman': 'Amazon Princess', 'Green Lantern': 'Emerald Knight'}
Fastest Man Alive

In [58]:
# Pythonical dictionary usage
for hero, alias in hero_aliases.items():
    print(f"{hero} is also known as {alias}.")

# seperator
print("-" * 40)

# in instead of get() since it needs extra function call
if "Batman" in hero_aliases:
    print(f"Batman is also known as {hero_aliases['Batman']}.")

Superman is also known as Man of Steel.
Batman is also known as Dark Knight.
Wonder Woman is also known as Amazon Princess.
Green Lantern is also known as Emerald Knight.
----------------------------------------
Batman is also known as Dark Knight.

In [59]:
# Nested dictionaries
nested_hero_aliases = {
    "Justice League": {
        "Superman": "Man of Steel",
        "Batman": "Dark Knight",
        "Wonder Woman": "Amazon Princess"
    },
    "Teen Titans": {
        "Robin": "The Caped Crusader",
        "Starfire": "Princess of Tamaran",
        "Raven": "The Demonic Daughter"
    }
}

print(nested_hero_aliases["Justice League"])
print(nested_hero_aliases["Teen Titans"]["Raven"])

{'Superman': 'Man of Steel', 'Batman': 'Dark Knight', 'Wonder Woman': 'Amazon Princess'}
The Demonic Daughter

## CH3

##### Numeric Data Types

In [ ]:
# Integer, float, decimal
print(int(12345678901234567890))

print(float(12345678901234567890)) # scientific notation

12345678901234567890
1.2345678901234567e+19

In [65]:
# Printing floats
print(f"{3.141592653589793:f}") # default 6 decimal places
print(f"{3.141592653589793:.2f}") # 2 decimal places

3.141593
3.14

In [70]:
# Float arithmetic issues
print(0.1 + 0.2)
print(0.1 + 0.2 == 0.3) # False

# Solution: Use decimal module for precise decimal arithmetic
from decimal import Decimal
print(Decimal("0.1") + Decimal("0.2") == Decimal("0.3")) # True

0.30000000000000004
False
True

##### Sets

In [86]:
# Creating a set
heroes = {"Superman", "Batman", "Wonder Woman", "Superman"} # duplicate "Superman"
heroes_set = set(heroes) # removes duplicates
print(type(heroes_set))
print(heroes_set)

<class 'set'>
{'Superman', 'Wonder Woman', 'Batman'}

In [87]:
heroes_set.add("Flash")
print(heroes_set)

heroes_set.update({"Green Lantern", "Cyborg"})
print(heroes_set)

{'Superman', 'Flash', 'Wonder Woman', 'Batman'}
{'Batman', 'Superman', 'Green Lantern', 'Flash', 'Wonder Woman', 'Cyborg'}

In [88]:
# Removing items from a set by discard() and pop()
heroes_set.discard("Cyborg") # no error if not found
print(heroes_set)

# seperator
print("-" * 40)

hero = heroes_set.pop() # removes and returns an arbitrary item
print(hero)
print(heroes_set)

{'Batman', 'Superman', 'Green Lantern', 'Flash', 'Wonder Woman'}
----------------------------------------
Batman
{'Superman', 'Green Lantern', 'Flash', 'Wonder Woman'}

In [94]:
# Set operations
dc_heroes = {"Superman", "Batman", "Wonder Woman"}
batman_family = {"Robin", "Batgirl", "Nightwing", "Batman"}

print(dc_heroes.union(batman_family)) # or dc_heroes | batman_family
print(dc_heroes.intersection(batman_family)) # or dc_heroes & batman_family
print(batman_family.difference(dc_heroes)) # or batman_family - dc_heroes
print(dc_heroes.symmetric_difference(batman_family)) # items in either set but not both

{'Nightwing', 'Robin', 'Batman', 'Superman', 'Batgirl', 'Wonder Woman'}
{'Batman'}
{'Nightwing', 'Robin', 'Batgirl'}
{'Nightwing', 'Robin', 'Superman', 'Batgirl', 'Wonder Woman'}

## CH4

##### Collections Module

In [100]:
# Counter from collections module
from collections import Counter
# heroes age dictionary 
heroes_age = { "Superman": 35, "Batman": 40 , "Wonder Woman": 3000, "Flash": 28, "Green Lantern": 32, "Flash": 28}
hero_age_counts = Counter(heroes_age)
print(hero_age_counts)
print(hero_age_counts["Flash"])

# Most common ages
print(hero_age_counts.most_common(2)) # top 2 most common ages

Counter({'Wonder Woman': 3000, 'Batman': 40, 'Superman': 35, 'Green Lantern': 32, 'Flash': 28})
28
[('Wonder Woman', 3000), ('Batman', 40)]

##### Dictionaries of Unknown Structure

In [112]:
# Defaultdict from collections module
from collections import defaultdict

hero_aliases_default = defaultdict(list) # default value is an empty list
hero_aliases_default["Superman"].append("Man of Steel")
hero_aliases_default["Superman"].append("Last Son of Krypton")

print(hero_aliases_default["Batman"]) # empty list, no KeyError
print(hero_aliases_default)

[]
defaultdict(<class 'list'>, {'Superman': ['Man of Steel', 'Last Son of Krypton'], 'Batman': []})

##### Named Tuples

In [117]:
# Named Tuples
from collections import namedtuple # namedtuple is immutable like a tuple but has named fields for better readability and access by name
Hero = namedtuple("Hero", ["name", "alias", "age"])
heroes_dict = [{"name": "Clark Kent", "alias": "Superman", "age": 35}, {"name": "Bruce Wayne", "alias": "Batman", "age": 40}, {"name": "Diana Prince", "alias": "Amazon Princess", "age": 3000}]
heroes = []

for hero_data in heroes_dict:
    hero = Hero(hero_data["name"], hero_data["alias"], hero_data["age"])
    heroes.append(hero)

print(heroes)
print(heroes[0])
print(heroes[0].alias)

# seperator
print("-" * 40)

for hero in heroes[:3]:
    print(f"{hero.name} is also known as {hero.alias} and is {hero.age} years old.")

[Hero(name='Clark Kent', alias='Superman', age=35), Hero(name='Bruce Wayne', alias='Batman', age=40), Hero(name='Diana Prince', alias='Amazon Princess', age=3000)]
Hero(name='Clark Kent', alias='Superman', age=35)
Superman
----------------------------------------
Clark Kent is also known as Superman and is 35 years old.
Bruce Wayne is also known as Batman and is 40 years old.
Diana Prince is also known as Amazon Princess and is 3000 years old.

##### Dataclasses

In [120]:
# Dataclasses
from dataclasses import dataclass
@dataclass
class Hero:
    name: str
    alias: str
    age: int

superman = Hero("Clark Kent", "Superman", 35)
print(superman)
print(superman.name)

Hero(name='Clark Kent', alias='Superman', age=35)
Clark Kent

In [122]:
# Easy tuple and dictionary conversion
from dataclasses import asdict, astuple
print(asdict(superman)) # converts to dictionary
print(astuple(superman)) # converts to tuple

{'name': 'Clark Kent', 'alias': 'Superman', 'age': 35}
('Clark Kent', 'Superman', 35)

In [124]:
# Custom properties
@dataclass
class Hero:
    name: str
    alias: str
    age: int

    @property
    def quote(self):
        return f"{self.alias} says 'Justice shall prevail!'"

batman = Hero("Bruce Wayne", "Batman", 40)
print(batman.quote) # No parentheses, accessed like an attribute

Batman says 'Justice shall prevail!'

In [128]:
# Frozen instances
@dataclass(frozen=True)
class Hero:
    name: str
    alias: str
    age: int

batman = Hero("Bruce Wayne", "Batman", 40)
try:
    batman.age = 41 # Raises FrozenInstanceError
except Exception as e:
    print(f"Error: {e}")

Error: cannot assign to field 'age'