## CH1

In [4]:
# Creating date objects
from datetime import date

# Create dates
dates = [date(2016, 10, 7), date(2016, 11, 12)]

# Attributes of date objects
print(dates[0].year)
print(dates[0].month)
print(dates[0].day)

# Weekday of a Date
print(dates[0].weekday()) # 0 = Monday, 1 = Tuesday, ...

2016
10
7
4

##### Math with Dates

In [7]:
d1 = date(2025, 9, 10)
d2 = date(2024, 11, 23)

dates = [d1, d2]
print(min(dates))

# Substract two dates
delta = d1 - d2
print(delta)
print(delta.days)

2024-11-23
291 days, 0:00:00
291

In [9]:
# Timedelta
from datetime import timedelta

# 291 day timedelta
td = timedelta(days=291)

print(d2 + td)
print(d2 + td == d1)

2025-09-10
True

##### Dates into strings

In [1]:
from datetime import date

d = date(2025, 9, 10)
# ISO format: YYYY-MM-DD
print(d)

2025-09-10

In [4]:
# strftime
print(d.strftime("%Y"))
print(d.strftime("Year is %Y"))
print(d.strftime("%Y/%m/%d"))

2025
Year is 2025
2025/09/10

## CH2

##### Date and Times

In [5]:
from datetime import datetime

dt = datetime(year=2025, month=9, day=10, hour=10, minute=24, second=12, microsecond=500000) 
print(dt)

2025-09-10 10:24:12.500000

In [ ]:
# Replace parts of a datetime
dt_hr = dt.replace(minute=0, second=0, microsecond=0)
print(dt_hr)

2025-09-10 10:00:00

In [9]:
# Printing datetimes
print(dt.strftime("%Y-%m-%d"))
print(dt.strftime("%Y-%m-%d %H:%M:%S"))

# ISO 8601 format
print(dt.isoformat())

2025-09-10
2025-09-10 10:24:12
2025-09-10T10:24:12.500000

In [10]:
# Parsing datetime with strptime
dt = datetime.strptime("10/9/2025 10:24:12", "%d/%m/%Y %H:%M:%S")
print(type(dt))
print(dt)

<class 'datetime.datetime'>
2025-09-10 10:24:12

In [17]:
# Timestamp
ts = 1757489052.0
print(datetime.fromtimestamp(ts))

2025-09-10 10:24:12

##### Durations

In [19]:
start = datetime(2025, 9, 10, 10, 24, 12)
end = datetime(2025, 2, 13, 14, 22, 10)

duration = start - end
print(duration)
print(duration.total_seconds())

208 days, 20:02:02
18043322.0

##### Timedeltas

In [22]:
from datetime import timedelta

delta1 = timedelta(seconds=1)
delta2 = timedelta(days=1, seconds=1)
delta3 = timedelta(weeks=-1)

print(start)
print(start + delta1) # 1 second later
print(start + delta2) # 1 day and 1 second later
print(start + delta3) # 1 week earlier

2025-09-10 10:24:12
2025-09-10 10:24:13
2025-09-11 10:24:13
2025-09-03 10:24:12

## CH3

##### UTC

In [23]:
from datetime import datetime, timedelta, timezone
EEST = timezone(timedelta(hours=3)) # Eastern European Summer Time
# Timezone-aware datetime
dt = datetime(2025, 9, 10, 15, 30, 25, tzinfo = EEST)
print(dt)

2025-09-10 15:30:25+03:00

In [24]:
# Central European Summer Time
CEST = timezone(timedelta(hours=2))
# Convert to CEST
print(dt.astimezone(CEST))

2025-09-10 14:30:25+02:00

In [29]:
print(dt.replace(tzinfo=timezone.utc))
print(dt)

# seperator
print("-" * 30)

# Change original to match utc
print(dt.astimezone(timezone.utc))

2025-09-10 15:30:25+00:00
2025-09-10 15:30:25+03:00
------------------------------
2025-09-10 12:30:25+00:00

##### Timezone Database

In [30]:
from datetime import datetime
from dateutil import tz

# Eastern USA time
et = tz.gettz("America/New_York")

dt = datetime(2025, 9, 10, 15, 30, 25, tzinfo = et)
print(dt)

2025-09-10 15:30:25-04:00